/*Adding Hover feature for my anchor*/

a:hover {
    opacity: 20%;
    text-decoration: none;
  }
  

 body,html{
     height: 100%;
 }

.bg {
    background-image: url("./photos/bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Wanted to create a box where the Intro Text is more visible*/
.holdbox {

    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%; 
    padding: 20px; 
}

/*Spacing out Buttons on portfolio*/
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

/*Place to put Resume*/ 
.resumeBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

  /* Adding specific features for my Social Media buttons*/
  .fa{
    border-radius: 50%;
    text-decoration: none;
    margin-right: 5px;
  }
  
  .fa-facebook{
  background-color: #3b5998;
  color: white;
  padding: 8px 13px 8px 13px;
  }
  
  .fa-github {
    background-color: black;
    color: white;
    padding: 8px 10px 8px 10px;
  
  }
  
  .fa-youtube{
    background-color: red;
    color: white;
    padding: 8px 10px 8px 10px;
  }
  
  .fa-linkedin{
    background-color: #0e76a8;
    color: white;
    padding: 8px 10px 8px 10px;
  }

 
  
  @media only screen and (max-width: 700px) {
    .resumeBox {
        height:100%;
        width: 100%;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
     
  }

      body {
        background-image: url("./photos/bg.png");
      }
  } 