/*Adding Hover feature for my anchor*/

a:hover {
    opacity: 20%;
    text-decoration: none;
  }
  

html{
     height: 110%;
 }

body {
    background-image: url("./photos/bg.png");
    height: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .mbox{
  margin-top: 5%;
} */

.introw{
  margin-top: 5%;
  margin-bottom: 5%;
}

/* .Jeezy{
  margin-left: 90px;
} */
.Jeezy{
  height: 500px;
  width: 250px;
}

/* Wanted to create a box where the Intro Text is more visible*/
.holdbox {

    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%; 
    padding: 20px; 
    margin-top: 5%;

}

/*Spacing out Buttons on portfolio*/
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

/*Place to put Resume*/ 
.Resume{
    /* display:flex; */
    /* justify-content: center;
    align-items: center; */
    display: block;
  margin: 0 auto 0 auto;
}

/* #Resume{
  
} */

  /* Adding specific features for my Social Media buttons*/
  .fa{
    border-radius: 50%;
    text-decoration: none;
    margin-right: 5px;
  }
  
  .fa-facebook{
  background-color: #3b5998;
  color: white;
  padding: 8px 13px 8px 13px;
  }
  
  .fa-github {
    background-color: black;
    color: white;
    padding: 8px 10px 8px 10px;
  
  }
  
  .fa-youtube{
    background-color: red;
    color: white;
    padding: 8px 10px 8px 10px;
  }
  
  .fa-linkedin{
    background-color: #0e76a8;
    color: white;
    padding: 8px 10px 8px 10px;
  }


  
  
  @media only screen and (max-width: 800px){

    body {
      height: auto;
      background-position: center center;
      /* background-repeat:repeat; */
      background-size: cover;
      background-image: url("./photos/bg.png");
      background-attachment: fixed;
      background-repeat: no-repeat;
    }

    /* .holdbox {

      background: none;
      width: 100%; 
      padding: 20px; 
  } */
  
  h4,h6,.emailbox {
    font-size: 90%;
  }
  /* br{
    display: none;
  } */

  .holdbox {

    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%; 
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 10%;
    padding-bottom: 50%;
}

.introw{
  display: inline-block;
}
.Jeezy{
  height: 200px;
  width: 100px;
}


   
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
     
  }

  
}

